#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans  &trans  &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans  &kp N   &kp E      &kp R   &kp S   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &kp A   &kp SPACE  &kp I   &kp O   &trans
                                &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
